<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Live Love Color</title>
    
    
<!--     <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css"> -->



    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/creative.css" type="text/css">
    
    
    
  </head>

  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="margin-right: 15px; margin-top:8px; margin-bottom: 8px;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Live Love Color</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                
                    <li>
                        <a class="page-scroll"  href="#profile">About</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#price">price</a>
                    </li>
                    <li>
                        <a class="page-scroll" target="_blank" href="/webProfolio">Web Gallery </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/mobilGallery">Mobile Gallery </a>
                    </li>
                    
                    <li>
                        <a target="_blank" class="page-scroll" href="http://threecolorstohappiness.blogspot.com/">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header style="background-image: url(../img/consulting.png);">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Virtual Color<br><hr style="border-color:white;"> Consultation</h1>
                <br>
                <br>
                <br>
                <br>
                
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </header>



    <aside class="bg-dark" id="profile">
        <div class="container">
            <div class="call-to-action">

            <p><h2 style="color: black;" class="text-center">How it works</h2>
                <hr style="border-color:black">
            </p>
           <!--  <span><img id="profile_img" src="./img/profile.jpg" class="img-circle" ></span> -->
            <p class="text-center">
                <i>Send me an email with the title : "Virtual Color Consultation"</i>
                <input style="display:in-line;" class="btn btn-info" type="button" value="Send Email" onclick="window.location.href='mailto:lynnewhiteside@comcast.net'" />

                <br><br>

                We’ll then talk about the scope of your project and the direction you’re thinking for color. After you will email me picture's of the areas to be painted, indicating where the (North, South, East, West) natural light comes from.

                <br><br> 

                Once we determine the color or colors to be used from the information you’ve given me. I will then format the colors and send you a template with the picture of your room/rooms with the colors next to the room showing placement. <!-- (The graphics read differently on all monitors, so the color next to your picture is only a representation of the actual color.) Within the color is the name and number of the correct color - great time to have the deck! -->
            </p>
                
            
            </div>
        </div>
    </aside>

    <aside style="background-color: #04ffbd;" id="client">
        <div class="container">
            <div class="call-to-action">

                <p><h2 style="color: black;" class="text-center">What you need</h2>
                </p>
                <hr style="border-color:black;">
           <!--  <span><img id="profile_img" src="./img/profile.jpg" class="img-circle" ></span> -->
               <!--  <h3>You will need:</h3> -->
              
                  
        <div class="container" >
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-tablet wow bounceIn text-primary2"></i>
                        <h3>A computer or Smart Phone</h3>
                        <p class="custom-text-muted2">For Email or Skype purposes</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-camera wow bounceIn text-primary2" data-wow-delay=".1s"></i>
                        <h3>A camera</h3>
                        <p class="custom-text-muted2">High quality pictures of windows, flooring and any furnishings</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paypal wow bounceIn text-primary2" data-wow-delay=".2s"></i>
                        <h3>A PayPal account</h3>
                        <p class="custom-text-muted2">Not necessary but preferred</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-signal wow bounceIn text-primary2" data-wow-delay=".3s"></i>
                        <h3>A Color Fan</h3>
                        <p class="custom-text-muted2"><a href="http://store.benjaminmoore.com/storefront/shop-by-product/color-tools/color-stories-fan-deck/prodM9700240SB.html?utm_source=fandeckpage&utm_medium=banner&utm_campaign=colorstories-fandeck">Linke to buy</a> either the Classic or Color-Preview deck (Color Preview has all the whites, Classic does not)</p>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </aside>
    <section id="price">
        <div class="container">
            <div class="row"  class="text center">
                <div style="color:white">
                    <center><h3>Price</h3></center>
                    <hr style="border-color:white">
                </div>
                <br>
                <div style="color:#f6f6f6">
                    <center>
                    Fees are as follows:
                    One or two colors for any room: $95.00<br>
                    A regular consultation is between $125.00 - $250.00: this is a color review of your home and suggestions for a new color scheme<br>
                    All consultations come with advice as to color placement.
                   
                    </center>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <hr style="border-color: #fff;">
                    <p>
                    
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>
                    415.215.8709</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>lynnewhiteside@comcast.net</p><br>
                </div>
            </div>
        </div>
    </section>

    <div class="container" style="">
            <div class="row" style="">
                <div style="margin-top:7px; margin-bottom:7px;" class="col-lg-4 col-lg-offset-2 col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2">
                    <a href="https://www.facebook.com/livelovecolorconsulting/?fref=ts" target="_blank"><i class="fa fa-2x fa-facebook bounceIn "></i></a>
                </div>
                <div style="margin-top:7px; margin-bottom:7px;" class="col-lg-4 col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2 text-center">
                    <a href="https://www.linkedin.com/in/lynne-whiteside-60237a14?" target="_blank"><i class="fa fa-2x fa-linkedin bounceIn "></i></a>
                </div>
         
            </div>
    </div>
    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
   

    <script src="../js/index.js"></script>
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/jquery.fittext.js"></script>
    <script src="../js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/creative.js"></script>
    <script src="../js/profile.js"></script>

    
    
    
  </body>
</html>
