<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Live Love Color</title>
    
    
<!--     <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css"> -->



          <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/creative.css" type="text/css">
    
    
    
  </head>

  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Live Love Color</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/profile">Profile</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                        
                    </li>
                    <li>
                        <a class="page-scroll"  target="_blank" href="/webProfolio">Gallery Web</a>
                    </li>
                    <li>
                        <a class="page-scroll"  target="" href="/mobilGallery">Gallery Mobile</a>
                    </li>
                    
                    <li>
                        <a target="_blank" class="page-scroll" href="http://threecolorstohappiness.blogspot.com/">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Live Love Color</h1>
                <hr style="border-color: #fff;" >
                <span><b style="font-size:15px;">Color Consultant <i>Lynne Whiteside</i></b> <i style="font-size: 11px; color:white; opacity: 0.6"><b>C</b>f<b>YH</b> - Certified</i></span>
                

                <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Color changes everything…</h2>
                    <hr class="light">
                    <p class="text-faded">Do you crave beautiful, interior color design at your finger tips? Do you want to change the mood in your home to a more restful, dramatic or inviting environment, or possibly a more energetic, joyful space to rejuvenate in? As your architectural color consultant, I can chose the right paint colors for you; or we can work together with your insights to come up with the color palette you've always wanted in your home.</p>
                    <p class="text-faded">I will show you the tools you can use to start your color scheme process immediately. From there I can help you refine your paint color selections and you will see how exciting it is to create a more interesting atmosphere. In the end your home will bring you more joy than you ever expected and all because ‘color changes everything’.</p>
                   <!--  <a traget="_blank" href="/mobilGallery" class="btn btn-default btn-md">Mobile Gallery</a> -->
                    <a traget="_blank" href="/webProfolio" class="btn btn-default btn-xl">Web Gallery</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services" style="background-color: #f6f6f6;">
      
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr style="border-color: #800463;">
                    <div class="row">
                    <div class="col-lg-12 text-center">
                    <p>
                      What exactly can an architectural color consultant do for you?
                    </p>
                    <i id="expand" class="fa fa-chevron-down"></i>
                      <div id="serviceHtml">
                        <p>Hiring a color consultant is an investment in your most precious commodity: your home, your sanctuary. This is the place that holds your memories, your present, and your future within its walls. Having the right colors in the rooms where you start and end your day makes an incredible impact on the energy, comfort and warmth we all want from our homes.</p>
                      </div> 
                    <i id="collapse" class="fa fa-chevron-up"></i> 
                    </div>

                  </div>
                </div>
            </div>
        </div>
        <div class="container" >
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-phone wow bounceIn text-primary"></i>
                        <h3>Lets talk</h3>
                        <p class="custom-text-muted">Call or send me an email</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Lets find a color</h3>
                        <p class="custom-text-muted">Refine the current color scheme in your home</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Relevant</h3>
                        <p class="custom-text-muted">Up to date understanding of colors and styles,
                        to create an atmosphere that is true to you</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Rate</h3>
                        <p class="custom-text-muted">175$ per hour, with a minimum of two hours</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <hr style="border-color: #fff;">
                    <p>
                        
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>
                    415.215.8709</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>lynnewhiteside@comcast.net</p><br>
                </div>
            </div>
        </div>
    </section>

    <div class="container" style="">
            <div class="row" style="">
                <div style="margin-top:7px; margin-bottom:7px;" class="col-lg-4 col-lg-offset-2 col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2">
                    <a href="https://www.facebook.com/livelovecolorconsulting/?fref=ts" target="_blank"><i class="fa fa-2x fa-facebook bounceIn "></i></a>
                </div>
                <div style="margin-top:7px; margin-bottom:7px;" class="col-lg-4 col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2 text-center">
                    <a href="https://www.linkedin.com/in/lynne-whiteside-60237a14?" target="_blank"><i class="fa fa-2x fa-linkedin bounceIn "></i></a>
                </div>
         
            </div>
    </div>
    

    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
   

    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/jquery.fittext.js"></script>
    <script src="../js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/creative.js"></script>

    <script src="../js/customJquery.js"></script>
    
    
  </body>
</html>
