<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Page Parallax Scroll Effect</title>
    
    
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/colorbox.css">


    <script src="../js/jquery.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
   
    
  </body>
</html>
<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Live Love Color</title>
    
    
<!--     <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css"> -->



          <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/creative.css" type="text/css">
    
    
    
  </head>

  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Live Love Color</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                  
                    <li>
                        <a class="page-scroll" href="/webProfolio">Gallery Web</a>
                    </li>
                   
                  
                    <li>
                        <a target="_blank" class="page-scroll" href="http://threecolorstohappiness.blogspot.com/">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

   
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="../img/gallery1.png" class="group4" >
                        <img src="../img/gallery1.png" class="img-responsive" id="firstpic" title="" alt="">
                       
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../img/gallery2.png" class="group4" >
                        <img src="../img/gallery2.png" class="img-responsive" title="" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../img/gallery3.png" class="group4">
                        <img src="../img/gallery3.png" class="img-responsive" title="" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../img/gallery4.png" class="group4">
                        <img src="../img/gallery4.png" class="img-responsive" title="" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../img/gallery5.png" class="group4">
                        <img src="../img/gallery5.png" class="img-responsive" title="" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../img/gallery6.png" class="group4">
                        <img src="../img/gallery6.png" class="img-responsive" title="" alt="">
                        
                    </a>
                </div>
            </div>
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="../img/gallery7.png" class="group4" >
                        <img src="../img/gallery7.png" class="img-responsive" id="firstpic" title="" alt="">
                       
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../img/gallery8.png" class="group4">
                        <img src="../img/gallery8.png" class="img-responsive" title="" alt="">
                        
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="../img/gallery9.png" class="group4">
                        <img src="../img/gallery9.png" class="img-responsive" title="" alt="">
                        
                    </a>
                </div>
                
            </div>

   
<!-- 
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <hr class="primary">
                    <p>
                    
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p> 415.928.4831 -
                    415.215.8709</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>lynnewhiteside@comcast.net</p><br>
                </div>
            </div>
        </div>
    </section> -->

    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
   

    <script src="../js/index.js"></script>
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/jquery.fittext.js"></script>
    <script src="../js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/creative.js"></script>
    <script src="../js/jquery.colorbox-min.js"></script>
    <script src="../js/colorbox.js"></script>
    
    
    
  </body>
</html>
