<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Live Love Color</title>
    
    
<!--     <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css"> -->



    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/creative.css" type="text/css">
    
    
    
  </head>

  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Live Love Color</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/">home</a>
                    </li>
                    <li>
                        <a class="page-scroll"  href="#profile">Profile</a>
                    </li>
                    <li>
                        <a class="page-scroll"  href="#client">Testimonials</a>
                    </li>
                    <li>
                        <a class="page-scroll"  href="/webProfolio">Gallery Web</a>
                    </li>
                    <li>
                        <a class="page-scroll"  target="_blank" href="/mobilGallery">Gallery Mobile</a>
                    </li>
                    
                    <li>
                        <a target="_blank" class="page-scroll" href="http://threecolorstohappiness.blogspot.com/">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header style="background-image: url(../img/background3.png);">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Live Love Color</h1>
                <hr>
                
                <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
                  
            </div>
        </div>
    </header>

    
    <section style="background-color: #222" id="client">
      <div class="client" >
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <center><h2>Testimonials</h2></center>
            <br><br><br>
            <p>

              “Lynne Whiteside has been my Architectural Color Consultant on three of my most recent projects in San Francisco. Lynne always exceeds my expectations with her color choices by bringing something new to each project.
              I will continue to use Lynne on my projects knowing she will bring fresh ideas in the use of color and placement. She is a professional who focuses on the people who will live in these buildings and how the color that surrounds them will affect their daily lives.”

            </p>
             
              <b>
                <i>
                    <h4>Jan Werner</h4>
                <i>
              </b>
           
                <h6>
                    Werner & Associates
                    Mill Valley, CA 94941
                    <br>
                    415.990.9496
                </h6>


              <br><br>

              <p>
                “Lynne Whiteside has been Winning Colors Painting & Deccorating in-house color consultant for several years. She offers my clients a creative mind and an educated eye to make a home beautiful. I recommend Lynne's service to all my clients.”
              </p>
              <b>
                <i>
                    <h4>Nita Riccardi</h4>
                <i>
              </b>
                
                <h6>
                Winning Colors Painting & Decorating<br>
                415.826.0423<br>
                winningcolorspainting@yahoo.com
                </h6>
          </div>
        </div>
        <br><br>
        <center><button id="showTest" class="btn btn-primary">More Testimonials</button></center>
        <div id="reviews">
            <center>
                <h4>More Testimonials</h4>
                <br>
            <p>

              “Lynne Whiteside has been my Architectural Color Consultant on three of my most recent projects in San Francisco. Lynne always exceeds my expectations with her color choices by bringing something new to each project.
              I will continue to use Lynne on my projects knowing she will bring fresh ideas in the use of color and placement. She is a professional who focuses on the people who will live in these buildings and how the color that surrounds them will affect their daily lives.”

            </p>
             
                <b>
                    <i>
                        <h4>Jan Werner</h4>
                    <i>
                </b>
           
                <h6>
                    Werner & Associates
                    Mill Valley, CA 94941
                    <br>
                    415.990.9496
                </h6>

            </center>
        </div>

      </div>
    </section>
    

    <aside class="bg-dark" id="profile">
        <div class="container text-center">
            <div class="call-to-action">

            <p><h2 style="color: gray;"> Lynne Whiteside</h2>
            </p>
            <span><img id="profile_img" src="./img/profile.jpg" class="img-circle" style="height: 80%;"></span>

                <i>
                <p style="white-space: pre;"><h5>With a history in high-end retail, and a fascination with color and construction it was a natural progression for me to develop an interest in architectural color consultation. In a short time I realized color was a primary entrance to how we see, feel and react on a daily basis.</h5></p>
                
                <p style="white-space: pre;"><h5>For years I have been helping clients bring a heightened color awareness into their homes. Whether you have a distinct idea of the colors you want, and need me to find them for you, or, if you would rather have me chose colors appropriate to your needs, it can be done.</h5></p>

                <p style="white-space: pre;"><h5>My consultations are on old and new projects, large or small, interior or exterior. My work on new projects has been to use appropriate colors for sale. My other projects include several victorians and rental properties.
                Color Changes Everything... Let me help you with what you are looking for, the appropriate and/or personal colors for your living space.</h5>
                </p>

                <p><h5>Color Changes Everything... Let me help you with what you are looking for, the appropriate and/or personal colors for your living space</h5></p>
                <i/>
               
                <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
            </div>
        </div>
    </aside>
    

 




    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
   

    <script src="../js/index.js"></script>
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../js/jquery.easing.min.js"></script>
    <script src="../js/jquery.fittext.js"></script>
    <script src="../js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../js/creative.js"></script>
    <script src="../js/profile.js"></script>

    
    
    
  </body>
</html>
