  <section style="background-color: #222" id="client">
      <div class="client" >
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center" style="padding:0px;">
                <!-- <center><h2>Testimonials</h2></center> -->
                <br><br><br>
                <p>

                  “Lynne Whiteside has been my Architectural Color Consultant on three of my most recent projects in San Francisco. Lynne always exceeds my expectations with her color choices by bringing something new to each project.
                  I will continue to use Lynne on my projects knowing she will bring fresh ideas in the use of color and placement. She is a professional who focuses on the people who will live in these buildings and how the color that surrounds them will affect their daily lives.”
                   <!-- <b>
                    <i>
                        <h4>-Jan Werner</h4>
                    </i>
                  </b>
               
                    <h6>
                        Werner & Associates
                        Mill Valley, CA 94941
                        <br>
                        415.990.9496
                    </h6>
     -->
                </p>
                 
                 

                  <br><br>

                  <p>
                    “Lynne Whiteside has been Winning Colors Painting & Deccorating in-house color consultant for several years. She offers my clients a creative mind and an educated eye to make a home beautiful. I recommend Lynne's service to all my clients.”
                   <!--  <b>
                        <i>
                            <h4>-Nita Riccardi</h4>
                        </i>
                    </b>
                    
                    <h6>
                    Winning Colors Painting & Decorating<br>
                    415.826.0423<br>
                    winningcolorspainting@yahoo.com
                    </h6> -->
                  </p>

                 
              </div>
            </div>

            <br>

            <br>

            <center>
                <button id="showTest" class="btn btn-primary btn-xl">More Testimonials</button>
            </center>

            <div id="reviews">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <p>

                          “Lynne Whiteside has been my Architectural Color Consultant on three of my most recent projects in San Francisco. Lynne always exceeds my expectations with her color choices by bringing something new to each project.
                          I will continue to use Lynne on my projects knowing she will bring fresh ideas in the use of color and placement. She is a professional who focuses on the people who will live in these buildings and how the color that surrounds them will affect their daily lives.”

                        </p>
                         
                          <b>
                            <i>
                                <h4>-Jan Werner</h4>
                            </i>
                          </b>
                       
                            <h6>
                                Werner & Associates
                                Mill Valley, CA 94941
                                <br>
                                415.990.9496
                            </h6>


                          <br><br>

                          <p>
                            “Lynne Whiteside has been Winning Colors Painting & Deccorating in-house color consultant for several years. She offers my clients a creative mind and an educated eye to make a home beautiful. I recommend Lynne's service to all my clients.”
                          </p>

                          <b>
                            <i>
                                <h4>-Nita Riccardi</h4>
                            </i>
                          </b>
                            
                            <h6>
                            Winning Colors Painting & Decorating<br>
                            415.826.0423<br>
                            winningcolorspainting@yahoo.com
                            </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>